@import '../mixins.scss';

.disBlock {
    display: block !important;
}

.disNone {
    display: none !important;
}

@keyframes fade-in-mail-sent {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-out-mail-sent {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

h1,
h2,
span,
a,
label {
    color: $standard-green;
    margin: 0;
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

h1 {
    font-family: 'fira-code';
}

.lets-talk {
    text-decoration: none;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

.left {
    @include disFlex($fD: column, $rG: 40px);
    width: 100%;

    .headline-block {
        @include disFlex($fD: column, $rG: 40px);

        h1,
        h2 {
            color: $standard-green;
            margin: 0;
        }

        h1 {
            font-size: 64px;
            line-height: 120%;
        }

        h2 {
            font-family: 'Karla', Verdana, sans-serif;
            font-size: 24px;
            line-height: 100%;
            font-weight: 700;
        }
    }

    .text-block {
        h1 {
            font-size: 24px;
        }

        p {
            font-family: 'karla', Verdana, sans-serif;
            color: white;
        }

        span {
            font-weight: 500;
        }
    }
}

.show-at-over-650 {
    display: block;
}

.show-at-under-650 {
    display: none;
}

.mail-sent {
    @include disFlex($aI: center, $jC: center);
    width: fit-content;
    max-width: 90vw;
    background: linear-gradient(28deg, rgb(8, 7, 7) 0%, rgb(8, 70, 59) 100%);
    padding: 15px;
    @include pos($pos: absolute, $t: 50%, $l: 50%);
    transform: translate(-50%, -50%);
    box-sizing: border-box;

    p {
        font-family: 'fira-code', Verdana, sans-serif;
        font-size: 24px;
        font-weight: 500;
        color: white;
        text-align: center;
        line-height: 120%;
        letter-spacing: 0;
        white-space: wrap;
        margin: 0;
    }

    &.fade-in {
        animation: fade-in-mail-sent 0.25s linear;
        opacity: 1;
    }

    &.fade-out {
        opacity: 1;
        animation: fade-out-mail-sent 0.25s linear;
    }
}

.right {
    @include disFlex($fD: column, $rG: 0px);
    width: 100%;

    form {
        @include disFlex($fD: column, $rG: 0px);

        &>div {
            @include disFlex($fD: column, $rG: 16px);
            width: 100%;
            padding: 32px;
            border-top: 1px solid $standard-green;
            box-sizing: border-box;

            label {
                font-family: 'fira-code', Verdana, sans-serif;
                font-size: 24px;
                line-height: 120%;
                font-weight: 400;
            }

            input,
            textarea,
            input[placeholder] {
                width: 100%;
                font-family: 'karla', Verdana, sans-serif;
                font-size: 24px;
                color: white !important;
                background: transparent !important;
                background-color: transparent !important;
                outline: none !important;

                &.ng-touched,
                &.ng-valid,
                &.ng-touched {
                    background: transparent !important;
                    background-color: transparent !important;
                }
            }

            input,
            textarea {
                background-color: transparent;
                outline: 0px;
                border: unset;
                padding: 0;
            }

            .wrong-pattern {
                display: none;
                background-color: transparent;

                p {
                    width: 100%;
                    font-family: 'karla', Verdana, sans-serif;
                    font-size: 16px;
                    color: rgba(255, 255, 255, 0.8);
                    margin: 0;
                }
            }

            &.last {
                padding: 32px 0;
                flex-direction: row;
                column-gap: 5px;

                input[type='checkbox'] {
                    width: fit-content;
                    background: $standard-black;
                    outline: 2px solid $standard-green;

                    &:checked {
                        background-color: $standard-black;
                    }
                }

                label {
                    font-family: 'karla', Verdana, sans-serif;
                    font-size: 15px;
                    color: white !important;
                    font-weight: normal;
                }
            }
        }

        button[disabled] {
            opacity: 0.5;
            cursor: not-allowed !important;
            
            &:hover {
                transform: scale(1);
            }

            .button-inner {
                cursor: not-allowed;
                &:hover {
                    transform: scale(1);
                }
            }
        }

        button {
            background-color: transparent;
            outline: unset;
            border: none;
            padding: 0;

            .button-inner {
                @include disFlex($aI: center, $jC: center, $cG: 8px);
                min-height: 48px;
                background-color: $standard-black;
                padding: 0 24px;
                border: 1px solid white;
                border-radius: 100px;
                box-sizing: border-box;
                cursor: pointer;

                img {
                    display: none;
                }

                p {
                    font-family: 'karla', Verdana, sans-serif;
                    font-size: 18px;
                    color: white;
                    font-weight: 400;
                    margin: 0;
                    text-align: center;
                }

                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }
}

@media only screen and (max-width: 650px) {
    .left {
        .headline-block {
            h1 {
                font-size: 56px;
            }
        }

        .right {
            form {
                &>div {
                    padding: 32px 16px;

                    label {
                        font-size: 20px;
                    }
                }
            }
        }
    }

    .show-at-over-650 {
        display: none;
    }

    .show-at-under-650 {
        display: block;
    }
}

@media only screen and (max-width: 400px) {
    .left {
        .headline-block {
            h1 {
                font-size: 44px;
            }
        }
    }
}