<div class="left">
    <div class="headline-block">
        <h2 [ngClass]="{'disNone': !portService.englishActivated}">Contact me</h2>
        <h2 [ngClass]="{'disNone': !portService.germanActivated}">Kontaktieren Sie mich</h2>
        <h1 [ngClass]="{'disNone': !portService.englishActivated}">Let's work together</h1>
        <h1 [ngClass]="{'disNone': !portService.germanActivated}">Lassen Sie uns <span
                class="show-at-over-650">zusammenarbeiten</span><span class="show-at-under-650">zusammen-arbeiten</span>
        </h1>
    </div>

    <div class="text-block">
        <h1 [ngClass]="{'disNone': !portService.englishActivated}">Got a problem to solve?</h1>
        <h1 [ngClass]="{'disNone': !portService.germanActivated}">Sie haben ein Problem zu lösen?</h1>

        <p [ngClass]="{'disNone': !portService.englishActivated}">
            Are you looking for a front-end developer who is motivated to participate in every project?
            <br>I'm always open to new projects, ideas, and tasks.
            <br>In my four years of experience as a developer, I haven't encountered a single problem I haven't been
            able to solve.
            <br>Send me your idea, and I'll focus not on whether it can be implemented, but on how.
        </p>
        <p [ngClass]="{'disNone': !portService.germanActivated}">
            Sie suchen einen Frontend-Entwickler der bei jedem Projekt motiviert mitmacht?
            <br>Ich bin immer offen für neue Projekte, Ideen und Aufgaben.
            <br>Es gab in meinen bislang schon vierjährigen Erfahrung als Entwickler noch kein Problem, das ich nicht
            lösen konnte.
            <br>Schicken Sie mir ihre Idee und ich werde mir nicht überlegen ob sondern, wie man diese umsetzen kann.
        </p>

        <p [ngClass]="{'disNone': !portService.englishActivated}">Need a Frontend developer? <span class="lets-talk"
                (click)="focusYourNameInput()">Lets talk!</span></p>
        <p [ngClass]="{'disNone': !portService.germanActivated}">Sie brauchen einen Frontend-Entwickler? <span
                class="lets-talk" (click)="focusYourNameInput()">Lassen Sie uns sprechen!</span></p>
    </div>
</div>
<div class="right">
    <form action="" (ngSubmit)="onSubmit(myForm)" #myForm="ngForm">
        <div class="input-cont">
            <label for="yourname" [ngClass]="{'disNone': !portService.englishActivated}" #yourNameLabelE>What's your
                name? *</label>
            <label for="yourname" [ngClass]="{'disNone': !portService.germanActivated}" #yourNameLabelG>Wie heißen Sie?
                *</label>
            <input [(ngModel)]="contactData.name" type="text" id="yourname" name="yourname"
                [placeholder]="portService.englishActivated ? 'Your name goes here' : 'Ihr Name'" required
                #yourNameInput value="'Oscr Ahlke'" (change)="checkName($event)" (focusout)="checkName($event)">
            <div class="wrong-pattern" [ngClass]="{'disBlock' : !namePatternCorrect, 'disNone' : namePatternCorrect}">
                <p [ngClass]="{'disNone' : !portService.englishActivated}">Allowed pattern:<br class="hide-at-1100"><i>Forename Surname</i> /<br class="hide-at-1100"><i>F. Surname</i> </p>
                <p [ngClass]="{'disNone' : !portService.germanActivated}">Erlaubtes Format:<br class="hide-at-1100"><i>Vorname Nachname</i> /<br class="hide-at-1100"><i>V. Nachname</i></p>
            </div>
        </div>
        <div class="input-cont">
            <label for="youremail" [ngClass]="{'disNone': !portService.englishActivated}" #yourMailLabelE>What's your
                mail? *</label>
            <label for="youremail" [ngClass]="{'disNone': !portService.germanActivated}" #yourMailLabelG>Wie lautet ihre
                Mail-Adresse?
                *</label>
            <input [(ngModel)]="contactData.email" type="email" id="email" name="youremail"
                pattern="/^[A-Za-z0-9._%+-]+@[A-Za-z0-9-]+(\.[A-Za-z0-9-]+)*\.[A-Za-z]{2,}$/"
                [placeholder]="portService.englishActivated ? 'yourmail@email.com' : 'ihremail@email.com'" required
                #yourMailInput value="'oahlke1@gmail.com'" (change)="checkMail($event)" (focusout)="checkMail($event)">
            <div class="wrong-pattern" [ngClass]="{'disBlock' : !mailPatternCorrect, 'disNone' : mailPatternCorrect}">
                <p [ngClass]="{'disNone' : !portService.englishActivated}">Allowed pattern:<br class="hide-at-1100"><i>mail&#64;mydomain</i></p>
                <p [ngClass]="{'disNone' : !portService.germanActivated}">Erlaubtes Format:<br class="hide-at-1100"><i>mail&#64;meinedomain</i></p>
            </div>
        </div>
        <div class="input-cont">
            <label for="concern" [ngClass]="{'disNone': !portService.englishActivated}" #yourMessageLabelE>How can I
                help you? *</label>
            <label for="concern" [ngClass]="{'disNone': !portService.germanActivated}" #yourMessageLabelG>Wie kann ich
                Ihnen helfen? *</label>
            <textarea [(ngModel)]="contactData.message" type="text" id="concern" name="concern"
                [placeholder]="portService.englishActivated ? 'Hello Oscar, I am initerested in.' : 'Hallo Oscar. Ich wollte fragen.'"
                required #yourMessageInput value="'Dummytext'" (change)="checkMessage($event)" (focusout)="checkMessage($event)"></textarea>
        </div>
        <div class="last">
            <input type="checkbox" #checker id="privacy"
                [placeholder]="portService.englishActivated ? 'Your name goes here' : 'Ihr Name'" required (click)="checkerChecked = !checkerChecked; checkerChecking()">
            <label for="privacy" [ngClass]="{'disNone': !portService.englishActivated}">I've read the <a
                    (click)="router.navigateByUrl('terms-conditions')">Terms and Conditions</a>
                and agree to the processing of my data as outlined</label>
            <label for="privacy" [ngClass]="{'disNone': !portService.germanActivated}" required>Ich habe die
                <a (click)="router.navigateByUrl('terms-conditions')">AGB</a> gelesen und bin mit der Verarbeitung
                meiner Daten einverstanden</label>
        </div>
        <button type="submit" #submitButton disabled>
            <div class="button-inner">
                <p [ngClass]="{'disNone': !portService.englishActivated}">Say hello</p>
                <p [ngClass]="{'disNone': !portService.germanActivated}">Sagen Sie Hallo</p>
            </div>
        </button>
    </form>
</div>

<div class="mail-sent" #mailSent [ngClass]="{'fade-in' : sentAdviceShown, 'disNone' : !sentAdviceShown}">
    @if(mailSentSuccessfully) {
    <p [ngClass]="{'disNone': !portService.englishActivated}">Your mail has been sent successfully!</p>
    <p [ngClass]="{'disNone': !portService.germanActivated}">Ihre Mail wurde erfolgreich versendet!!</p>
    } @else {
    <p [ngClass]="{'disNone': !portService.englishActivated}">Your mail has not been sent successfully!</p>
    <p [ngClass]="{'disNone': !portService.germanActivated}">Ihre Mail wurde nicht erfolgreich versendet!!</p>
    }
</div>