@import '../mixins.scss';

.disNone {
    display: none !important;
}

p,
h1,
h2 {
    margin: 0;
}

.main-container {
    @include disFlex($aI: center, $jC: center, $cG: 88px, $fWrap: wrap);
    width: 80%;
    max-width: 1248px;
    padding: 60px 91px;
    border-radius: 30px;
    background: linear-gradient(28deg, rgba(8, 7, 7, 1) 0%, rgba(8, 70, 59, 1) 100%);
    box-sizing: border-box;
    @include pos($pos: relative);

    .close-lightbox {
        @include pos($pos: absolute, $t: 5%, $r: 5%);
        width: 18px;
        cursor: pointer;
        padding: 10px;
        
        img {
            width: 100%;
            height: auto;
            margin: 0;
            padding: 0;
            background-color: $standard-black;
        }
    }

    &::-webkit-scrollbar {
        display: none;
    }

    .outer-container {
        .container {
            @include disFlex($aI: center, $jC: space-between, $cG: 88px, $fWrap: nowrap);
            width: 100%;
            height: fit-content;
            box-sizing: border-box;

            .left {
                @include disFlex($fD: column, $jC: center, $rG: 40px);
                width: 50%;
                max-width: 480px;

                .headline-block {
                    @include disFlex($fD: column, $jC: center, $rG: 24px);

                    h1 {
                        font-family: 'karla', Verdana, sans-serif;
                        font-size: 128px;
                        font-weight: 700;
                        line-height: 100px;
                        color: $standard-green;
                        margin: 0;
                    }

                    h2 {
                        font-family: 'fira-code', Verdana, sans-serif;
                        font-size: 64px;
                        color: white;
                        font-weight: 700;
                        line-height: 80%;
                        margin: 0;
                    }
                }

                .center-block {
                    @include disFlex($fD: column, $jC: center, $rG: 20px);

                    h2 {
                        font-family: 'fira-code', Verdana, sans-serif;
                        font-size: 24px;
                        color: $standard-green;
                        line-height: 120%;
                        letter-spacing: 0;
                    }

                    p.description {
                        font-family: 'karla', Verdana, sans-serif;
                        font-size: 18px;
                        color: white;
                        line-height: 120%;
                        letter-spacing: 0;
                        max-height: 75px;
                        overflow-y: scroll;

                        &::-webkit-scrollbar {
                            display: none;
                        }
                    }

                    .languages {
                        @include disFlex($cG: 16px, $rG: 20px, $fWrap: wrap);

                        img {
                            width: 36px;
                            height: auto;
                            filter: contrast($standard-green);
                        }
                    }
                }

                .bottom-block {
                    @include disFlex($aI: center, $cG: 32px, $rG: 20px, $fWrap: wrap);
                    width: 100%;
                }
            }

            .right {
                width: 520px;
                aspect-ratio: 16 / 9;
                border-radius: 30px;
                background-size: 100% auto;

                img {
                    width: 100%;
                    aspect-ratio: 16 / 9;
                    border-radius: 30px;
                }
            }
        }
    }



    .prev-project,
    .next-project {
        @include disFlex($aI: center, $jC: center, $cG: 8px);
        cursor: pointer;
        @include pos($pos: absolute, $b: 20px, $r: 37px);

        p {
            font-family: 'karla', Verdana, sans-serif;
            font-size: 18px;
            color: $standard-green;
            line-height: 120%;
            letter-spacing: 0;
        }
    }

    .prev-project {
        right: unset;
        left: 37px;
    }
}

@media (max-width: 1100px) {
    .main-container {
        width: 80%;
        max-width: 366px;
        height: fit-content;
        padding: 95px 15px !important;

        .outer-container {
            min-width: 80%;

            .container {
                flex-direction: column-reverse;
                min-width: 100%;
                row-gap: 20px;
                height: fit-content;

                .left {
                    min-width: 100%;

                    .headline-block {
                        h1 {
                            font-size: 64px;
                            line-height: 100%;
                        }
                    }
                }

                .right {
                    width: 100%;
                    aspect-ratio: 16 / 9;
                }
            }
        }

        .prev-project,
        .next-project {
            p {
                display: none;
            }
        }
    }
}

@media (max-width: 750px) {
    .main-container {
        .outer-container {
            .container {
                flex-direction: column-reverse;
                align-items: center;
                flex-wrap: nowrap;
                row-gap: 32px;

                .close-lightbox {
                    top: 31px;
                    right: 31px;
                    background-color: black !important;
                }

                .left {
                    justify-content: flex-start;
                    row-gap: 32px;
                    width: 100%;

                    .headline-block {
                        row-gap: 8px;

                        h1 {
                            font-size: 72px;
                            line-height: 100%;
                        }

                        h2 {
                            font-size: 56px;
                            line-height: 80%;
                        }

                        p.description {
                            max-height: 50px;
                            overflow-y: scroll;
                        }
                    }

                    .center-block {
                        row-gap: 16px;

                        h2 {
                            font-size: 20px;
                            margin: 0;
                        }
                    }

                    .bottom-block {
                        flex-direction: row;
                        width: 100%;
                    }
                }

                .right {
                    max-width: 100%;

                    img {
                        border-radius: 16px;
                    }
                }
            }
        }
    }
}

@media (max-height: 700px) {
    .main-container {
        .outer-container {
            max-height: 400px;
            overflow-y: scroll;
            
            .container {
                .right {
                    height: 153px;
                    width: 272px;
                }
            }
        }
    }
}