<div (click)="portService.showHideBurgerMenu($event)" class="all-containing">
    <div class="component-container">
        <top-section id="top"></top-section>
    </div>
    <div class="component-container">
        <myself-section id="about-me" data-aos="fade-right"></myself-section>
    </div>
    <div class="component-container">
        <featured-projects id="projects" data-aos="fade-left"></featured-projects>
    </div>
    <div class="component-container">
        <reviews-section id="reviews" data-aos="fade-right"></reviews-section>
    </div>
    <div class="component-container">
        <work-together id="work-together" data-aos="fade-left"></work-together>
    </div>
    <div class="component-container">
        <app-footer id="footer" data-aos="fade-up"></app-footer>
    </div>
</div>