<top-bar></top-bar>

<div class="center-box">
    <h2>
        Frontend<span [ngClass]="{'disNone': !portService.englishActivated}"> Developer</span><span
            [ngClass]="{'disNone': !portService.germanActivated}">-Entwickler</span>
    </h2>
    <h1>Oscar Ahlke</h1>

    <div class="buttons">
        <app-button [englishText]="'Check out my work'" [germanText]="'Meine Projekte'" [url]="'#projects'"></app-button>
        <app-button [englishText]="'Contact me'" [germanText]="'Kontaktieren Sie mich'" [url]="'#work-together'"></app-button>
    </div>
</div>

<div class="vertical-boxes">
    <div class="vertical-box left">
        <app-button
            [buttonStyles]="{'flex-direction': 'column', 'min-width': '30px', 'height': '48px', 'border-width': '1px', 'border-color': '#3dcfb6', 'border-style': 'solid', 'padding': '0'}"
            [sign]="'↓'" [url]="'#footer'"></app-button>
        <div class="vertical-line"></div>
    </div>
    <div class="vertical-box right">
        <a href="mailto:{{portService.links.mailAddress}}" class="link-text">{{ portService.links.mailAddress }}</a>
        <div class="icons">
            <icon-button class="mail-icon" [iconSource]="portService.links.mailIcon" [link]="portService.links.mailAddress" [containsMailAddress]="true"></icon-button>
            <icon-button [iconSource]="portService.links['gitHubIcon']" [link]="portService.links.gitHubLink"></icon-button>
            <icon-button [iconSource]="portService.links['linkedInIcon']" [link]="portService.links.linkedInLink"></icon-button>
        </div>
        <div class="vertical-line"></div>
    </div>
</div>

<running-banner></running-banner>