<div class="all-containing" (click)="portService.showHideBurgerMenu($event)">
    <div class="block">
        <top-bar></top-bar>
    </div>
    <div [ngClass]="{'disNone': !portService.englishActivated}">
        <div class="block">
            <h2>Privacy Policy</h2>
        </div>
        <div class="block">
            <h2>1. Data protection at a glance</h2>
            <h3>General information</h3>
            <p>
                The following information provides a simple overview of what happens to your personal data
                when you visit this website.
                <br>Personal data is any data that can be used to
                personally identify you. Detailed information on data protection can be found in our privacy policy
                below.
            </p>
            <h3>Data collection on this website</h3>
            <p>
                <b>Who is responsible for data collection on this website?</b>
                <br>Data processing on this website is carried out by the website operator. Their contact details
                can be found in the section "Information on the Responsible Party" in this privacy policy.
            </p>
            <p>
                <b>How do we collect your data?</b>
                <br>Your data is collected in two ways: firstly, when you provide it to us. This could include, for
                example,
                data that you enter into a contact form.
                Secondly, data is collected automatically or with your consent by our IT systems when you visit the
                website.
                <br>This includes primarily technical data (e.g., internet browser, operating system, or time
                of page access). This data is collected automatically as soon as you access this website.
                <b>What do we use your data for?</b>
                <br>Some data is collected to ensure the website functions correctly. Other
                data may be used to analyze your user behavior. If contracts can be concluded or initiated via the
                website,
                the transmitted data will also be processed for contract offers,
                orders, or other order inquiries.
                <b>What rights do you have regarding your data?</b>
                <br>You have the right to obtain information free of charge at any time about the origin, recipients,
                and
                purpose of your
                stored personal data. You also have the right to request the correction or
                deletion of this data. If you have given your consent to data processing,
                you can revoke this consent at any time for the future. Furthermore, you have the right, under
                certain circumstances, to request the restriction of the processing of your personal data.
                <br>Furthermore, you have the right to lodge a complaint with the relevant supervisory authority.
                You can contact us at any time with regard to this and any other questions concerning data protection.
            </p>
        </div>
        <div class="block">
            <h2>2. Hosting</h2>
            <h3>Wir hosten die Inhalte unserer Website bei folgendem Anbieter:</h3>
            <p>
                External hosting
                <br>This website is hosted externally. The personal data collected on this website
                is stored on the servers of the hosting provider(s). This may include, in particular, IP addresses,
                contact requests, metadata and communication data, contract data, contact details, names, website access
                data, and other data generated via a website.
                <br>External hosting is used for the purpose of fulfilling our contractual obligations to our potential
                and
                existing customers (Art. 6 para. 1 lit. b GDPR) and in the interest of a secure, fast, and efficient
                provision of our online services by a professional provider (Art. 6 para. 1 lit. f GDPR).
                If corresponding consent has been requested, processing is carried out exclusively on the basis of Art.
                6
                para. 1 lit. a GDPR and Section 25 para. 1 TDDDG, insofar as the consent includes the storage
                of cookies or access to information on the user's device (e.g., device fingerprinting) within the
                meaning of
                the TDDDG. Consent can be withdrawn at any time.
                <br>Our hosting provider(s) will only process your data to the extent necessary to fulfill its
                contractual obligations and will follow our instructions regarding this data.
                <br>
                <br>We use the following hosting provider(s):
                <br>All-INKL.COM - Neue Medien Münnich
                <br>Address:
                <br>Hauptstraße 68
                <br>02742 Neusalza-Spremberg
                <br>Germany
            </p>
        </div>
        <div class="block">
            <h2>3. Allgemeine Hinweise und Pflichtinformationen</h2>
            <h3>Datenschutz</h3>
            <p>
                <br>The operators of this website take the protection of your personal data very seriously. We treat
                your
                personal data confidentially and in accordance with the statutory data protection regulations and
                this privacy policy.
                <br>When you use this website, various personal data are collected.
                Personal data is data that can be used to identify you personally. This
                Privacy Policy explains what data we collect and what we use it for. It also explains how
                and for what purpose this is done.
                <br>Please note that data transmission over the Internet (e.g., when communicating via email)
                can have security vulnerabilities. Complete protection of data against access by third parties is not
                possible.
            </p>
            <h3>Note regarding the responsible body</h3>
            <p>
                The responsible body for data processing on this website is:
                <br>Oscar Ahlke
                <br>Maikottenweg 124
                <br>48155 Münster
                <br>Deutschland
                <br>Telefon: <a href="tel:+4915901951784">01590 / 1951784</a>
                <br>E-Mail: <a href="mailto:mail@oscar-ahlke.de">mail&#64;oscar-ahlke.de</a>
                <br>
                <br>The responsible entity is the natural or legal person who, alone or jointly with others,
                decides on the purposes and means of processing personal data (e.g., names, email addresses, etc.).
            </p>
            <h3>Storage period</h3>
            <p>
                Unless a more specific retention period is stated within this privacy policy,
                your personal data will remain with us until the purpose for data processing no longer applies. If you
                assert a legitimate request for erasure or withdraw your consent to data processing,
                your data will be deleted unless we have other legally permissible grounds for storing your
                personal data (e.g., tax or commercial law retention periods); in the latter case, the data will be
                deleted
                once these grounds cease to apply.
            </p>
            <h3>General information on the legal basis for data processing on this website</h3>
            <p>
                If you have consented to data processing, we process your personal data on the basis of
                Art. 6 para. 1 lit. a GDPR or Art. 9 para. 2 lit. a GDPR, if special categories of data
                pursuant to Art. 9 para. 1 GDPR are processed. In the case of explicit consent to the transfer
                of personal data to third countries, data processing also takes place on the basis of Art.
                49 para. 1 lit. a GDPR. If you have consented to the storage of cookies or to access to information on
                your device (e.g., via device fingerprinting), data processing also takes place
                on the basis of Section 25 para. 1 TDDDG. Consent can be withdrawn at any time. If your data is required
                for
                the performance of a contract or for carrying out pre-contractual measures, we process your
                data on the basis of Art. 6 para. 1 lit. b GDPR. Furthermore, we process your data if it is
                necessary to fulfill a legal obligation based on Article 6(1)(c) GDPR.
                <br>Data processing may also be based on our legitimate interest pursuant to Art. 6 para. 1 lit.
                f GDPR. Information on the applicable legal bases in each individual case is provided in the following
                paragraphs of this privacy policy.
            </p>
            <h3>Recipients of personal data</h3>
            <p>
                As part of our business activities, we collaborate with various external parties. In some cases, this
                also
                requires the transfer of personal data to these external parties.
                We only disclose personal data to external parties if this is necessary for the performance of a
                contract,
                if we are legally obligated to do so (e.g., disclosure of data to tax authorities), if we have a
                legitimate
                interest in the disclosure pursuant to Art. 6 para. 1 lit. f GDPR, or if another legal basis permits the
                data transfer. When using data processors, we only transfer our customers' personal data on the basis of
                a
                valid data processing agreement. In the case of joint processing, a joint processing agreement is
                concluded.
            </p>
            <h3>Revocation of your consent to data processing</h3>
            <p>
                Viele Datenverarbeitungsvorgänge sind nur mit Ihrer ausdrücklichen Einwilligung möglich. Sie können eine
                bereits erteilte Einwilligung jederzeit widerrufen. Die Rechtmäßigkeit der bis zum Widerruf erfolgten
                Datenverarbeitung bleibt vom Widerruf unberührt.
            </p>
            <h3>
                Right to object to data processing in special cases and to direct marketing (Art. 21 GDPR)
            </h3>
            <p>
                IF THE DATA PROCESSING IS BASED ON ART. 6 PARA. 1 LIT. E OR F GDPR
                YOU HAVE THE RIGHT TO OBJECT, ON GROUNDS RELATING TO YOUR PARTICULAR
                SITUATION, AT ANY TIME TO THE PROCESSING OF YOUR PERSONAL DATA
                THIS ALSO APPLIES TO PROFILING BASED ON THESE PROVISIONS.
                THE RESPECTIVE LEGAL BASIS ON WHICH PROCESSING IS BASED CAN BE FOUND IN THIS PRIVACY POLICY. IF YOU
                OBJECT,
                WE WILL NO LONGER PROCESS YOUR PERSONAL DATA UNLESS
                WE CAN DEMONSTRATE COMPELLING LEGITIMATE GROUNDS FOR THE PROCESSING
                WHEN YOUR INTERESTS, RIGHTS AND FREEDOMS OVERREACH, OR THE
                PROCESSING SERVES THE PURPOSE OF ESTABLISHING, EXERCISE OR DEFENSE OF
                LEGAL CLAIMS (OBJECTION PURSUANT TO ART. 21 PARA. 1 GDPR).
                <br>If your personal data is processed for direct marketing purposes,
                you have the right to object at any time to the processing of your personal data for such marketing,
                which
                includes profiling to the extent that it is related to such direct marketing.
                If you object, your personal data will no longer be processed for direct marketing purposes (objection
                pursuant to Article 21(2) GDPR).
            </p>
            <h3>Right to lodge a complaint with the competent supervisory authority</h3>
            <p>
                In the event of violations of the GDPR, data subjects have the right to lodge a complaint with a
                supervisory authority, in particular in the Member State of their habitual residence, their place of
                work,
                or the place of the alleged infringement. This right to lodge a complaint is without prejudice to any
                other
                administrative or judicial remedy.
            </p>
            <h3>Right to data portability</h3>
            <p>
                You have the right to receive the data that we process automatically based on your consent or in
                fulfillment
                of a contract, either for yourself or for a third party, in a commonly used, machine-readable format. If
                you
                request the direct transfer of the data to another controller, this will only be done if it is
                technically
                feasible.
            </p>
            <h3>Information, correction and deletion</h3>
            <p>
                Under applicable legal provisions, you have the right at any time to receive free
                information about your stored personal data, its origin and recipients, and the
                purpose of the data processing, and, if applicable, the right to rectification or erasure of this data.
                For
                this purpose, as well as for
                further questions regarding personal data, you can contact us at any time.
            </p>
            <h3>Right to restriction of processing</h3>
            <p>
                You have the right to request the restriction of the processing of your personal data.
                You can contact us at any time to do so. The right to restrict processing exists in the following cases:
            </p>
            <ul>
                <li>
                    If you dispute the accuracy of your personal data stored with us, we
                    generally need time to verify this. For the duration of the verification, you have the right to
                    request
                    the restriction of the processing of your personal data.
                </li>
                <li>
                    If the processing of your personal data was/is lawful, you can request the restriction of data
                    processing instead of deletion.
                </li>
                <li>
                    If we no longer need your personal data, but you require it for the establishment, exercise, or
                    defense
                    of legal claims, you have the right to request restriction of processing of your personal data
                    instead
                    of erasure.
                </li>
                <li>
                    If you have objected to processing pursuant to Article 21(1) GDPR, a balancing of interests between
                    your
                    interests and ours must be carried out. Until it is determined whose interests prevail, you have the
                    right to request the restriction of the processing of your personal data.
                </li>
            </ul>
            <p>
                If you have restricted the processing of your personal data, this data – apart from its storage – may
                only
                be processed with your consent or for the establishment, exercise or defense of legal claims or for the
                protection of the rights of another natural or legal person or for reasons of important public interest
                of
                the European Union or of a Member State.
            </p>
            <h3>SSL or TLS encryption</h3>
            <p>
                This site uses SSL or TLS encryption for security reasons and to protect the transmission of
                confidential
                content, such as orders or inquiries that you send to us as the site operator.
                You can recognize an encrypted connection by the fact that the browser's address bar changes from
                „http://“ to „https://“ and the lock symbol in your browser's address bar.
                <br>When SSL or TLS encryption is enabled, the data you send to us
                cannot be read by third parties.
            </p>
            <h3>Objection to advertising emails</h3>
            <p>
                The use of contact details published as part of the legal notice for sending
                unsolicited advertising and informational materials is hereby prohibited.
                The operators of these pages expressly reserve the right to take legal action in the event of
                unsolicited
                advertising, such as spam emails.
            </p>
        </div>
        <div class="block">
            <h2>4. Data collection on this website</h2>
            <h3>Contact form</h3>
            <p>
                If you send us inquiries via the contact form, your information from the
                inquiry form, including the contact details you provided, will be stored by us for the purpose of
                processing
                the inquiry
                and in case of follow-up questions. We will not share this data without your
                consent.
                <br>The processing of this data is based on Article 6(1)(b) GDPR if your request
                is related to the fulfillment of a contract or is necessary for the implementation of pre-contractual
                measures.
                In all other cases, the processing is based on our legitimate interest in the effective handling of
                inquiries addressed to us (Article 6(1)(f) GDPR) or on your consent (Article 6(1)(a) GDPR), if such
                consent
                has been requested; this consent can be revoked at any time.
                <br>The data you entered in the contact form will remain with us until you request its deletion
                revoke your consent to its storage, or the purpose for data storage no longer applies
                (e.g., after your request has been processed). Mandatory legal provisions –
                in particular, retention periods – remain unaffected.
            </p>
            <h3>Inquiries via email, telephone or fax</h3>
            <p>
                When you contact us by email, phone, or fax, your inquiry, including all resulting personal data (name,
                inquiry), will be stored and processed by us for the purpose of handling your request. We will not share
                this data without your consent.
                <br>The processing of this data is based on Article 6(1)(b) GDPR if your request
                is related to the fulfillment of a contract or is necessary for the implementation of pre-contractual
                measures.
                In all other cases, the processing is based on our legitimate interest in the effective handling of
                inquiries addressed to us (Article 6(1)(f) GDPR) or on your consent (Article 6(1)(a) GDPR), if such
                consent
                has been requested; this consent can be revoked at any time.
                <br>The data you send us via contact requests will remain with us until you
                request its deletion, revoke your consent to its storage, or the purpose for data storage no longer
                applies
                (e.g., after your request has been processed). Mandatory legal provisions – in particular, statutory
                retention periods – remain unaffected.
            </p>
        </div>
        <div class="block">
            <h2>5. Plugins and Tools</h2>
            <h3>Google Fonts (local hosting)</h3>
            <p>
                This website uses Google Fonts, provided by Google, for consistent font display.
                The Google Fonts are installed locally.
                No connection to Google servers is established.
                <br>You can find more information about Google Fonts at
                <br><a href="https://developers.google.com/fonts/faq">https://developers.google.com/fonts/faq</a> und in
                der
                Google's privacy policy:
                <br><a href="https://policies.google.com/privacy?hl=de">https://policies.google.com/privacy?hl=de</a>
            </p>
        </div>
    </div>

    <div [ngClass]="{'disNone': !portService.germanActivated}">
        <div class="block">
            <h2>Datenschutzerklärung</h2>
        </div>
        <div class="block">
            <h2>1. Datenschutz auf einen Blick</h2>
            <h3>Allgemeine Hinweise</h3>
            <p>
                Die folgenden Hinweise geben einen einfachen Überblick darüber, was mit Ihren personenbezogenen Daten
                passiert, wenn Sie diese Website besuchen.
                <br>Personenbezogene Daten sind alle Daten, mit denen Sie
                persönlich identifiziert werden können. Ausführliche Informationen zum Thema Datenschutz entnehmen
                Sie unserer unter diesem Text aufgeführten Datenschutzerklärung.
            </p>
            <h3>Datenerfassung auf dieser Website</h3>
            <p>
                <b>Wer ist verantwortlich für die Datenerfassung auf dieser Website?</b>
                <br>Die Datenverarbeitung auf dieser Website erfolgt durch den Websitebetreiber. Dessen Kontaktdaten
                können Sie dem Abschnitt „Hinweis zur Verantwortlichen Stelle“ in dieser Datenschutzerklärung entnehmen.
            </p>
            <p>
                <b>Wie erfassen wir Ihre Daten?</b>
                <br>Ihre Daten werden zum einen dadurch erhoben, dass Sie uns diese mitteilen. Hierbei kann es sich z.
                B. um
                Daten handeln, die Sie in ein Kontaktformular eingeben.
                Andere Daten werden automatisch oder nach Ihrer Einwilligung beim Besuch der Website durch unsere
                ITSysteme
                erfasst.
                <br>Das sind vor allem technische Daten (z. B. Internetbrowser, Betriebssystem oder Uhrzeit
                des Seitenaufrufs). Die Erfassung dieser Daten erfolgt automatisch, sobald Sie diese Website betreten.
                <br><b>Wofür nutzen wir Ihre Daten?</b>
                <br>Ein Teil der Daten wird erhoben, um eine fehlerfreie Bereitstellung der Website zu gewährleisten.
                Andere
                Daten können zur Analyse Ihres Nutzerverhaltens verwendet werden. Sofern über die Website Verträge
                geschlossen oder angebahnt werden können, werden die übermittelten Daten auch für Vertragsangebote,
                Bestellungen oder sonstige Auftragsanfragen verarbeitet.
                <b>Welche Rechte haben Sie bezüglich Ihrer Daten?</b>
                <br>Sie haben jederzeit das Recht, unentgeltlich Auskunft über Herkunft, Empfänger und Zweck Ihrer
                gespeicherten personenbezogenen Daten zu erhalten. Sie haben außerdem ein Recht, die Berichtigung oder
                Löschung dieser Daten zu verlangen. Wenn Sie eine Einwilligung zur Datenverarbeitung erteilt haben,
                können Sie diese Einwilligung jederzeit für die Zukunft widerrufen. Außerdem haben Sie das Recht, unter
                bestimmten Umständen die Einschränkung der Verarbeitung Ihrer personenbezogenen Daten zu verlangen.
                <br>Des Weiteren steht Ihnen ein Beschwerderecht bei der zuständigen Aufsichtsbehörde zu.
                Hierzu sowie zu weiteren Fragen zum Thema Datenschutz können Sie sich jederzeit an uns wenden.
            </p>
        </div>
        <div class="block">
            <h2>2. Hosting</h2>
            <h3>Wir hosten die Inhalte unserer Website bei folgendem Anbieter:</h3>
            <p>
                Externes Hosting
                <br>Diese Website wird extern gehostet. Die personenbezogenen Daten, die auf dieser Website erfasst
                werden,
                werden auf den Servern des Hosters / der Hoster gespeichert. Hierbei kann es sich v. a. um IP-Adressen,
                Kontaktanfragen, Meta- und Kommunikationsdaten, Vertragsdaten, Kontaktdaten, Namen, Websitezugriffe
                und sonstige Daten, die über eine Website generiert werden, handeln.
                <br>Das externe Hosting erfolgt zum Zwecke der Vertragserfüllung gegenüber unseren potenziellen und
                bestehenden Kunden (Art. 6 Abs. 1 lit. b DSGVO) und im Interesse einer sicheren, schnellen und
                effizienten
                Bereitstellung unseres Online-Angebots durch einen professionellen Anbieter (Art. 6 Abs. 1 lit. f
                DSGVO).
                Sofern eine entsprechende Einwilligung abgefragt wurde, erfolgt die Verarbeitung ausschließlich auf
                Grundlage von Art. 6 Abs. 1 lit. a DSGVO und § 25 Abs. 1 TDDDG, soweit die Einwilligung die Speicherung
                von Cookies oder den Zugriff auf Informationen im Endgerät des Nutzers (z. B. Device-Fingerprinting) im
                Sinne des TDDDG umfasst. Die Einwilligung ist jederzeit widerrufbar.
                <br>Unser(e) Hoster wird bzw. werden Ihre Daten nur insoweit verarbeiten, wie dies zur Erfüllung seiner
                Leistungspflichten erforderlich ist und unsere Weisungen in Bezug auf diese Daten befolgen.
                <br>
                <br>Wir setzen folgende(n) Hoster ein:
                <br>All-INKL.COM - Neue Medien Münnich
                <br>Adresse:
                <br>Hauptstraße 68
                <br>02742 Neusalza-Spremberg
                <br>Deutschland
            </p>
        </div>
        <div class="block">
            <h2>3. Allgemeine Hinweise und Pflichtinformationen</h2>
            <h3>Datenschutz</h3>
            <p>
                <br>Die Betreiber dieser Seiten nehmen den Schutz Ihrer persönlichen Daten sehr ernst. Wir behandeln
                Ihre
                personenbezogenen Daten vertraulich und entsprechend den gesetzlichen Datenschutzvorschriften sowie
                dieser Datenschutzerklärung.
                <br>Wenn Sie diese Website benutzen, werden verschiedene personenbezogene Daten erhoben.
                Personenbezogene Daten sind Daten, mit denen Sie persönlich identifiziert werden können. Die vorliegende
                Datenschutzerklärung erläutert, welche Daten wir erheben und wofür wir sie nutzen. Sie erläutert auch,
                wie
                und zu welchem Zweck das geschieht.
                <br>Wir weisen darauf hin, dass die Datenübertragung im Internet (z. B. bei der Kommunikation per
                E-Mail)
                Sicherheitslücken aufweisen kann. Ein lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist
                nicht
                möglich.
            </p>
            <h3>Hinweis zur verantwortlichen Stelle</h3>
            <p>
                Die verantwortliche Stelle für die Datenverarbeitung auf dieser Website ist:
                <br>Oscar Ahlke
                <br>Maikottenweg 124
                <br>48155 Münster
                <br>Deutschland
                <br>Telefon: <a href="tel:+4915901951784">01590 / 1951784</a>
                <br>E-Mail: <a href="mailto:mail@oscar-ahlke.de">mail&#64;oscar-ahlke.de</a>
                <br>
                <br>Verantwortliche Stelle ist die natürliche oder juristische Person, die allein oder gemeinsam mit
                anderen
                über die Zwecke und Mittel der Verarbeitung von personenbezogenen Daten (z. B. Namen, E-Mail-Adressen o.
                Ä.)
                entscheidet.
            </p>
            <h3>Speicherdauer</h3>
            <p>
                Soweit innerhalb dieser Datenschutzerklärung keine speziellere Speicherdauer genannt wurde, verbleiben
                Ihre personenbezogenen Daten bei uns, bis der Zweck für die Datenverarbeitung entfällt. Wenn Sie ein
                berechtigtes Löschersuchen geltend machen oder eine Einwilligung zur Datenverarbeitung widerrufen,
                werden Ihre Daten gelöscht, sofern wir keine anderen rechtlich zulässigen Gründe für die Speicherung
                Ihrer
                personenbezogenen Daten haben (z. B. steuer- oder handelsrechtliche Aufbewahrungsfristen); im
                letztgenannten Fall erfolgt die Löschung nach Fortfall dieser Gründe.
            </p>
            <h3>Allgemeine Hinweise zu den Rechtsgrundlagen der Datenverarbeitung auf dieser Website</h3>
            <p>
                Sofern Sie in die Datenverarbeitung eingewilligt haben, verarbeiten wir Ihre personenbezogenen Daten auf
                Grundlage von Art. 6 Abs. 1 lit. a DSGVO bzw. Art. 9 Abs. 2 lit. a DSGVO, sofern besondere
                Datenkategorien
                nach Art. 9 Abs. 1 DSGVO verarbeitet werden. Im Falle einer ausdrücklichen Einwilligung in die
                Übertragung
                personenbezogener Daten in Drittstaaten erfolgt die Datenverarbeitung außerdem auf Grundlage von Art.
                49 Abs. 1 lit. a DSGVO. Sofern Sie in die Speicherung von Cookies oder in den Zugriff auf Informationen
                in
                Ihr Endgerät (z. B. via Device-Fingerprinting) eingewilligt haben, erfolgt die Datenverarbeitung
                zusätzlich
                auf Grundlage von § 25 Abs. 1 TDDDG. Die Einwilligung ist jederzeit widerrufbar. Sind Ihre Daten zur
                Vertragserfüllung oder zur Durchführung vorvertraglicher Maßnahmen erforderlich, verarbeiten wir Ihre
                Daten auf Grundlage des Art. 6 Abs. 1 lit. b DSGVO. Des Weiteren verarbeiten wir Ihre Daten, sofern
                diese
                zur Erfüllung einer rechtlichen Verpflichtung erforderlich sind auf Grundlage von Art. 6 Abs. 1 lit. c
                DSGVO.
                <br>Die Datenverarbeitung kann ferner auf Grundlage unseres berechtigten Interesses nach Art. 6 Abs. 1
                lit.
                f
                DSGVO erfolgen. Über die jeweils im Einzelfall einschlägigen Rechtsgrundlagen wird in den folgenden
                Absätzen dieser Datenschutzerklärung informiert.
            </p>
            <h3>Empfänger von personenbezogenen Daten</h3>
            <p>
                Im Rahmen unserer Geschäftstätigkeit arbeiten wir mit verschiedenen externen Stellen zusammen. Dabei
                ist teilweise auch eine Übermittlung von personenbezogenen Daten an diese externen Stellen erforderlich.
                Wir geben personenbezogene Daten nur dann an externe Stellen weiter, wenn dies im Rahmen einer
                Vertragserfüllung erforderlich ist, wenn wir gesetzlich hierzu verpflichtet sind (z. B. Weitergabe von
                Daten
                an Steuerbehörden), wenn wir ein berechtigtes Interesse nach Art. 6 Abs. 1 lit. f DSGVO an der
                Weitergabe
                haben oder wenn eine sonstige Rechtsgrundlage die Datenweitergabe erlaubt. Beim Einsatz von
                Auftragsverarbeitern geben wir personenbezogene Daten unserer Kunden nur auf Grundlage eines gültigen
                Vertrags über Auftragsverarbeitung weiter. Im Falle einer gemeinsamen Verarbeitung wird ein Vertrag über
                gemeinsame Verarbeitung geschlossen.
            </p>
            <h3>Widerruf Ihrer Einwilligung zur Datenverarbeitung</h3>
            <p>
                Viele Datenverarbeitungsvorgänge sind nur mit Ihrer ausdrücklichen Einwilligung möglich. Sie können eine
                bereits erteilte Einwilligung jederzeit widerrufen. Die Rechtmäßigkeit der bis zum Widerruf erfolgten
                Datenverarbeitung bleibt vom Widerruf unberührt.
            </p>
            <h3>Widerspruchsrecht gegen die Datenerhebung in besonderen Fällen sowie gegen Direktwerbung (Art. 21 DSGVO)
            </h3>
            <p>
                WENN DIE DATENVERARBEITUNG AUF GRUNDLAGE VON ART. 6 ABS. 1 LIT. E ODER F DSGVO
                ERFOLGT, HABEN SIE JEDERZEIT DAS RECHT, AUS GRÜNDEN, DIE SICH AUS IHRER BESONDEREN
                SITUATION ERGEBEN, GEGEN DIE VERARBEITUNG IHRER PERSONENBEZOGENEN DATEN
                WIDERSPRUCH EINZULEGEN; DIES GILT AUCH FÜR EIN AUF DIESE BESTIMMUNGEN GESTÜTZTES
                PROFILING. DIE JEWEILIGE RECHTSGRUNDLAGE, AUF DENEN EINE VERARBEITUNG BERUHT,
                ENTNEHMEN SIE DIESER DATENSCHUTZERKLÄRUNG. WENN SIE WIDERSPRUCH EINLEGEN,
                WERDEN WIR IHRE BETROFFENEN PERSONENBEZOGENEN DATEN NICHT MEHR VERARBEITEN, ES
                SEI DENN, WIR KÖNNEN ZWINGENDE SCHUTZWÜRDIGE GRÜNDE FÜR DIE VERARBEITUNG
                NACHWEISEN, DIE IHRE INTERESSEN, RECHTE UND FREIHEITEN ÜBERWIEGEN ODER DIE
                VERARBEITUNG DIENT DER GELTENDMACHUNG, AUSÜBUNG ODER VERTEIDIGUNG VON
                RECHTSANSPRÜCHEN (WIDERSPRUCH NACH ART. 21 ABS. 1 DSGVO).
                <br>WERDEN IHRE PERSONENBEZOGENEN DATEN VERARBEITET, UM DIREKTWERBUNG ZU BETREIBEN,
                SO HABEN SIE DAS RECHT, JEDERZEIT WIDERSPRUCH GEGEN DIE VERARBEITUNG SIE
                BETREFFENDER PERSONENBEZOGENER DATEN ZUM ZWECKE DERARTIGER WERBUNG
                EINZULEGEN; DIES GILT AUCH FÜR DAS PROFILING, SOWEIT ES MIT SOLCHER DIREKTWERBUNG IN
                VERBINDUNG STEHT. WENN SIE WIDERSPRECHEN, WERDEN IHRE PERSONENBEZOGENEN DATEN
                ANSCHLIESSEND NICHT MEHR ZUM ZWECKE DER DIREKTWERBUNG VERWENDET (WIDERSPRUCH
                NACH ART. 21 ABS. 2 DSGVO).
            </p>
            <h3>Beschwerderecht bei der zuständigen Aufsichtsbehörde</h3>
            <p>
                Im Falle von Verstößen gegen die DSGVO steht den Betroffenen ein Beschwerderecht bei einer
                Aufsichtsbehörde, insbesondere in dem Mitgliedstaat ihres gewöhnlichen Aufenthalts, ihres Arbeitsplatzes
                oder des Orts des mutmaßlichen Verstoßes zu. Das Beschwerderecht besteht unbeschadet anderweitiger
                verwaltungsrechtlicher oder gerichtlicher Rechtsbehelfe.
            </p>
            <h3>Recht auf Datenübertragbarkeit</h3>
            <p>
                Sie haben das Recht, Daten, die wir auf Grundlage Ihrer Einwilligung oder in Erfüllung eines Vertrags
                automatisiert verarbeiten, an sich oder an einen Dritten in einem gängigen, maschinenlesbaren Format
                aushändigen zu lassen. Sofern Sie die direkte Übertragung der Daten an einen anderen Verantwortlichen
                verlangen, erfolgt dies nur, soweit es technisch machbar ist.
            </p>
            <h3>Auskunft, Berichtigung und Löschung</h3>
            <p>
                Sie haben im Rahmen der geltenden gesetzlichen Bestimmungen jederzeit das Recht auf unentgeltliche
                Auskunft über Ihre gespeicherten personenbezogenen Daten, deren Herkunft und Empfänger und den
                Zweck der Datenverarbeitung und ggf. ein Recht auf Berichtigung oder Löschung dieser Daten. Hierzu sowie
                zu weiteren Fragen zum Thema personenbezogene Daten können Sie sich jederzeit an uns wenden.
            </p>
            <h3>Recht auf Einschränkung der Verarbeitung</h3>
            <p>
                Sie haben das Recht, die Einschränkung der Verarbeitung Ihrer personenbezogenen Daten zu verlangen.
                Hierzu können Sie sich jederzeit an uns wenden. Das Recht auf Einschränkung der Verarbeitung besteht in
                folgenden Fällen:
            </p>
            <ul>
                <li>
                    Wenn Sie die Richtigkeit Ihrer bei uns gespeicherten personenbezogenen Daten bestreiten, benötigen
                    wir
                    in der Regel Zeit, um dies zu überprüfen. Für die Dauer der Prüfung haben Sie das Recht, die
                    Einschränkung der Verarbeitung Ihrer personenbezogenen Daten zu verlangen.
                </li>
                <li>
                    Wenn die Verarbeitung Ihrer personenbezogenen Daten unrechtmäßig geschah/geschieht, können Sie
                    statt der Löschung die Einschränkung der Datenverarbeitung verlangen.
                </li>
                <li>
                    Wenn wir Ihre personenbezogenen Daten nicht mehr benötigen, Sie sie jedoch zur Ausübung,
                    Verteidigung oder Geltendmachung von Rechtsansprüchen benötigen, haben Sie das Recht, statt der
                    Löschung die Einschränkung der Verarbeitung Ihrer personenbezogenen Daten zu verlangen.
                </li>
                <li>
                    Wenn Sie einen Widerspruch nach Art. 21 Abs. 1 DSGVO eingelegt haben, muss eine Abwägung zwischen
                    Ihren und unseren Interessen vorgenommen werden. Solange noch nicht feststeht, wessen Interessen
                    überwiegen, haben Sie das Recht, die Einschränkung der Verarbeitung Ihrer personenbezogenen Daten
                    zu verlangen.
                </li>
            </ul>
            <p>
                Wenn Sie die Verarbeitung Ihrer personenbezogenen Daten eingeschränkt haben, dürfen diese Daten – von
                ihrer Speicherung abgesehen – nur mit Ihrer Einwilligung oder zur Geltendmachung, Ausübung oder
                Verteidigung von Rechtsansprüchen oder zum Schutz der Rechte einer anderen natürlichen oder
                juristischen Person oder aus Gründen eines wichtigen öffentlichen Interesses der Europäischen Union oder
                eines Mitgliedstaats verarbeitet werden.
            </p>
            <h3>SSL- bzw. TLS-Verschlüsselung</h3>
            <p>
                Diese Seite nutzt aus Sicherheitsgründen und zum Schutz der Übertragung vertraulicher Inhalte, wie zum
                Beispiel Bestellungen oder Anfragen, die Sie an uns als Seitenbetreiber senden, eine SSL- bzw.
                TLSVerschlüsselung. Eine
                verschlüsselte Verbindung erkennen Sie daran, dass die Adresszeile des Browsers von
                „http://“ auf „https://“ wechselt und an dem Schloss-Symbol in Ihrer Browserzeile.
                <br>Wenn die SSL- bzw. TLS-Verschlüsselung aktiviert ist, können die Daten, die Sie an uns übermitteln,
                nicht
                von Dritten mitgelesen werden.
            </p>
            <h3>Widerspruch gegen Werbe-E-Mails</h3>
            <p>
                Der Nutzung von im Rahmen der Impressumspflicht veröffentlichten Kontaktdaten zur Übersendung von
                nicht ausdrücklich angeforderter Werbung und Informationsmaterialien wird hiermit widersprochen. Die
                Betreiber der Seiten behalten sich ausdrücklich rechtliche Schritte im Falle der unverlangten Zusendung
                von
                Werbeinformationen, etwa durch Spam-E-Mails, vor.
            </p>
        </div>
        <div class="block">
            <h2>4. Datenerfassung auf dieser Website</h2>
            <h3>Kontaktformular</h3>
            <p>
                Wenn Sie uns per Kontaktformular Anfragen zukommen lassen, werden Ihre Angaben aus dem
                Anfrageformular inklusive der von Ihnen dort angegebenen Kontaktdaten zwecks Bearbeitung der Anfrage
                und für den Fall von Anschlussfragen bei uns gespeichert. Diese Daten geben wir nicht ohne Ihre
                Einwilligung weiter.
                <br>Die Verarbeitung dieser Daten erfolgt auf Grundlage von Art. 6 Abs. 1 lit. b DSGVO, sofern Ihre
                Anfrage
                mit
                der Erfüllung eines Vertrags zusammenhängt oder zur Durchführung vorvertraglicher Maßnahmen
                erforderlich ist. In allen übrigen Fällen beruht die Verarbeitung auf unserem berechtigten Interesse an
                der
                effektiven Bearbeitung der an uns gerichteten Anfragen (Art. 6 Abs. 1 lit. f DSGVO) oder auf Ihrer
                Einwilligung (Art. 6 Abs. 1 lit. a DSGVO) sofern diese abgefragt wurde; die Einwilligung ist jederzeit
                widerrufbar.
                <br>Die von Ihnen im Kontaktformular eingegebenen Daten verbleiben bei uns, bis Sie uns zur Löschung
                auffordern, Ihre Einwilligung zur Speicherung widerrufen oder der Zweck für die Datenspeicherung
                entfällt
                (z. B. nach abgeschlossener Bearbeitung Ihrer Anfrage). Zwingende gesetzliche Bestimmungen –
                insbesondere Aufbewahrungsfristen – bleiben unberührt.
            </p>
            <h3>Anfrage per E-Mail, Telefon oder Telefax</h3>
            <p>
                Wenn Sie uns per E-Mail, Telefon oder Telefax kontaktieren, wird Ihre Anfrage inklusive aller daraus
                hervorgehenden personenbezogenen Daten (Name, Anfrage) zum Zwecke der Bearbeitung Ihres Anliegens
                bei uns gespeichert und verarbeitet. Diese Daten geben wir nicht ohne Ihre Einwilligung weiter.
                <br>Die Verarbeitung dieser Daten erfolgt auf Grundlage von Art. 6 Abs. 1 lit. b DSGVO, sofern Ihre
                Anfrage
                mit
                der Erfüllung eines Vertrags zusammenhängt oder zur Durchführung vorvertraglicher Maßnahmen
                erforderlich ist. In allen übrigen Fällen beruht die Verarbeitung auf unserem berechtigten Interesse an
                der
                effektiven Bearbeitung der an uns gerichteten Anfragen (Art. 6 Abs. 1 lit. f DSGVO) oder auf Ihrer
                Einwilligung (Art. 6 Abs. 1 lit. a DSGVO) sofern diese abgefragt wurde; die Einwilligung ist jederzeit
                widerrufbar.
                <br>Die von Ihnen an uns per Kontaktanfragen übersandten Daten verbleiben bei uns, bis Sie uns zur
                Löschung
                auffordern, Ihre Einwilligung zur Speicherung widerrufen oder der Zweck für die Datenspeicherung
                entfällt
                (z. B. nach abgeschlossener Bearbeitung Ihres Anliegens). Zwingende gesetzliche Bestimmungen –
                insbesondere gesetzliche Aufbewahrungsfristen – bleiben unberührt.
            </p>
        </div>
        <div class="block">
            <h2>5. Plugins und Tools</h2>
            <h3>Google Fonts (lokales Hosting)</h3>
            <p>
                Diese Seite nutzt zur einheitlichen Darstellung von Schriftarten so genannte Google Fonts, die von
                Google
                bereitgestellt werden. Die Google Fonts sind lokal installiert. Eine Verbindung zu Servern von Google
                findet
                dabei nicht statt.
                <br>Weitere Informationen zu Google Fonts finden Sie unter
                <br><a href="https://developers.google.com/fonts/faq">https://developers.google.com/fonts/faq</a> und in
                der
                Datenschutzerklärung von Google:
                <br><a href="https://policies.google.com/privacy?hl=de">https://policies.google.com/privacy?hl=de</a>
            </p>
        </div>
    </div>
    <app-footer></app-footer>
</div>