@import '../mixins.scss';

.disNone {
    display: none !important;
}

.opac-zero {
    opacity: 0;
    cursor: auto !important;
}

h2 {
    margin: 0;
}

.headline-block {
    @include disFlex($fD: column, $rG: 20px);

    h1,
    h2 {
        color: $standard-green;
        margin: 0;
        padding: 0;
        line-height: 100%;
    }

    h1 {
        font-family: 'fira-code', Verdana, sans-serif;
        font-size: 64px;
        font-weight: 700;
    }

    h2 {
        font-family: 'karla', Verdana, sans-serif;
    }
}

p {
    color: white;
    margin: 0;
}

p.description {
    font-family: 'karla', Verdana, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0;
    max-width: 880px;
}

.list {
    @include disFlex($fD: column);
    width: 100%;
    max-width: 880px;

    .project {
        @include disFlex($aI: center, $jC: space-between, $cG: 40px, $rG: 16px, $fWrap: wrap);
        width: 100%;
        padding: 40px 32px;
        cursor: pointer;
        border-bottom: 1px solid $standard-green;
        box-sizing: border-box;

        &:hover {
            background-color: $standard-green-blurry;
        }

        &:nth-child(1) {
            border-top: 1px solid $standard-green;
        }

        p.name {
            font-family: 'fira-code', Verdana, sans-serif;
            font-size: 24px;
            font-weight: 700;
            line-height: 120%;
            letter-spacing: 0;
        }

        .p-langs {
            @include disFlex($aI: center, $jC: center, $cG: 4px, $fWrap: wrap);

            p.p-lang {
                font-family: 'karla', Verdana, sans-serif;
                font-size: 18px;
                font-weight: 700;
                line-height: 120%;
                letter-spacing: 0;
                margin: 0;
            }

            .green-separator {
                width: 1px;
                height: 10px;
                background-color: $standard-green;
            }
        }
    }
}

@media only screen and (max-width: 750px) {
    .list {
        .project {
            flex-direction: column;
            align-items: flex-start;
            padding: 40px 0;
        }
    }
}

@media only screen and (max-width: 650px) {
    .headline-block {
        h1 {
            font-size: 54px;
        }
    }
}