<div class="headline-block">
    <h2>Portfolio</h2>
    <h1 [ngClass]="{'disNone': !portService.englishActivated}">Featured Projects</h1>
    <h1 [ngClass]="{'disNone': !portService.germanActivated}">Meine Projekte</h1>
</div>

<p class="description" [ngClass]="{'disNone': !portService.englishActivated}">
    Explore a selection of my work here – interact with projects to see my skills in action
</p>
<p class="description" [ngClass]="{'disNone': !portService.germanActivated}">
    Erkunden Sie hier eine Auswahl meiner Arbeit. Interagieren Sie mit meiner Arbeit um meine Fähigkeiten in Aktion zu
    sehen.
</p>

<div class="list">
    @for(project of portService.projects; track project.name; let index = $index) {
    <div class="project" (click)="portService.overlayShown=true; portService.openLightBox(index, true)" (mouseover)="showHideSidePic(index)" (mouseleave)="hideAllSidePics()">
        <div class="side-image" [ngClass]="{'disNone': !project.sideImageShown}">
            <div class="side-image-inner">
                <div class="img-box" [style]="{'background-image': 'url(' + project.imageSrc + ')'}"></div>
                <div class="bg-box"></div>
            </div>
        </div>
        <p class="name">{{ project.name }}</p>
        <div class="p-langs">
            @for(lang of project.pLangs; track lang.pLang; let index = $index) {
            <p class="p-lang">{{ lang.pLang }}</p>
            @if(index+1 < project.pLangs.length) { <div class="green-separator">
        </div>}
        }
    </div>
</div>
}
</div>