@import "./app/mixins.scss";

html {
    background-color: $standard-black;
}

body {
    max-width: unset;
    padding: 0;
    margin: 0;
    overflow-y: scroll;
    box-sizing: border-box;
}

app-root {
    display: block;
    width: 100%;
    background: $linear-background; // linear-gradient(37deg,rgba(28, 28, 28, 1) 70%, rgba(8, 70, 59, 1) 100%) no-repeat;
}