<div class="center-block">
    <div class="logo-block">
        <img src="../../../assets/images/heart.png" alt="">
        <div class="text-block">
            <p [ngClass]="{'disNone': portService.englishActivated}">Web developer</p>
            <p [ngClass]="{'disNone': portService.germanActivated}">Webentwickler</p>
            <p [ngClass]="{'disNone': portService.englishActivated}">Münster Germany</p>
            <p [ngClass]="{'disNone': portService.germanActivated}">Münster Deutschland</p>
        </div>
    </div>

    <div class="links">
        <a href="https://www.github.com/OAhlke1/">Github</a>
        <a href="https://www.linkedin.com/in/oscar-ahlke-949a64320/">LinkedIn</a>
        <a href="mailto:oahlke1@gmail.com">Email</a>
        <a href="../../legal-notice.html">Legal Notice</a>
    </div>
</div>

<p class="copyright">© Oscar Ahlke 2025</p>