<div class="center-block">
    <div class="logo-block">
        <a href="#top"><img src="../../../assets/images/logo.svg" alt=""></a>
        <div class="text-block">
            <p [ngClass]="{'disNone': portService.englishActivated}">Oscar Ahlke, Web developer</p>
            <p [ngClass]="{'disNone': portService.germanActivated}">Oscar Ahlke, Webentwickler</p>
            <p [ngClass]="{'disNone': portService.englishActivated}">Münster Germany</p>
            <p [ngClass]="{'disNone': portService.germanActivated}">Münster Deutschland</p>
        </div>
    </div>

    <div class="links">
        <a href="{{ portService.links.gitHubLink }}" target="_blank">Github</a>
        <a href="{{ portService.links.linkedInLink }}" target="_blank">LinkedIn</a>
        <a href="mailto:{{ portService.links.mailAddress }}">Email</a>
        <a href="../../legal-notice.html">Legal Notice</a>
    </div>
</div>

<p class="copyright">© Oscar Ahlke 2025</p>