<div class="container">
    <div class="outer-container">
        <div class="green-box image" (mouseover)="imgBgShown = true;" (mouseleave)="imgBgShown = false;" [ngClass]="{'with-bg-image': imgBgShown}">
            <img src="assets/images/ich.jpg" alt="">
            <img src="../../assets/images/stripes.svg" alt="" class="bg-image">
        </div>

        <div class="green-box">
            <h2 [ngClass]="{'disNone': !portService.englishActivated}">Who I am</h2>
            <h2 [ngClass]="{'disNone': !portService.germanActivated}">Wer ich bin</h2>
            <div class="bottom box">
                <h1 [ngClass]="{'disNone': !portService.englishActivated}">About me</h1>
                <h1 [ngClass]="{'disNone': !portService.germanActivated}">Über mich</h1>

                <p class="top-text" [ngClass]="{'disNone': !portService.englishActivated}">
                    Hello everyone! My name is Oscar Ahlke.
                    <br>I'm a front-end web developer with four years of professional experience.
                    <br>My philosophy is that there are no problems, only solutions.
                    <br>In my time as a web developer, there has never been a problem that
                    I couldn't solve.
                </p>
                <p class="top-text" [ngClass]="{'disNone': !portService.germanActivated}">
                    Hallo zusammen! Mein Name ist Oscar Ahlke.
                    Ich bin Webentwickler im Frontend und bringe eine
                    bereits vierjährige Berufserfahrung mit.
                    <br>Meine Einstellung ist, dass es keine Probleme, sondern
                    nur Lösungen gibt.
                    Es gab in meiner Zeit als Webentwickler noch nie ein Problem, welches
                    ich nicht lösen konnte.
                </p>

                <ul>
                    <li>
                        <span [ngClass]="{'disNone': !portService.englishActivated}">
                            I originally come from Steinfurt, but have been living in Münster, NRW, for a long time.
                        </span>
                        <span [ngClass]="{'disNone': !portService.germanActivated}">
                            Ursprünglich stamme ich aus Steinfurt, wohne aber seit 7 Jahren
                            in Münster, NRW.
                        </span>
                        <img src="assets/images/map-needle.svg" alt="" class="li-icon">
                    </li>
                    <li>
                        <span [ngClass]="{'disNone': !portService.englishActivated}">
                            I'm always interested in learning new things,
                            because our technology continues to evolve.
                        </span>
                        <span [ngClass]="{'disNone': !portService.germanActivated}">
                            Ich bin stehts daran interessiert, neue Dinge zu erlernen,
                            da sich unsere Technologie immer weiter entwickelt.
                        </span>
                        <img src="assets/images/head-icon.svg" alt="" class="li-icon">
                    </li>
                    <li>
                        <span [ngClass]="{'disNone': !portService.englishActivated}">
                            When I try to solve a problem, I first look for the most efficient approach.
                            <br>If implementation shows that my idea works, the next step is to consider how to
                            implement
                            the code as leanly as possible.
                            <br>And if my first idea does not work, I try a second approach until I find the solution.
                        </span>
                        <span [ngClass]="{'disNone': !portService.germanActivated}">
                            Beim Lösen eines Problems suche, schaue ich zunächst was der effizienteste Weg ist.
                            <br>Wenn sich bei der Umsetzung zeigt, dass meine Idee funktioniert, überlege ich mir im
                            nächsten Schritt
                            wie man den Code so schlank wie möglich umsetzen kann.
                            <br>Und wenn meine erste Idee nicht gut umsetzbar ist, versuche ich einen zweiten Weg, so
                            lange, bis ich die Lösung gefunden habe.
                        </span>
                        <img src="assets/images/tic-wheel-icon.svg" alt="" class="li-icon">
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="outer-container" id="skills">
        <div class="green-box last">
            <h2 [ngClass]="{'disNone': !portService.englishActivated}">Technologies</h2>
            <h2 [ngClass]="{'disNone': !portService.germanActivated}">Technologien</h2>
            <div class="bottom box">
                <h1 [ngClass]="{'disNone': !portService.englishActivated}">Skill Set</h1>
                <h1 [ngClass]="{'disNone': !portService.germanActivated}">Skill-Set</h1>

                <p [ngClass]="{'disNone': !portService.englishActivated}">
                    I have four years of experience in web development.
                    This experience focuses on creating front-end websites.
                    For these four years, I have been programming in HTML, CSS, and JavaScript.
                    <br>I was able to learn Angular, TypeScript, and SCSS while participating in the Developer Academy,
                    which is why I am now proficient in these as well.
                    <br>Furthermore, the Developer Academy enabled me to acquire skills in using GitHub/Git, Bootstrap,
                    Firebase/Firestore, and the basics of using REST APIs.
                </p>
                <p [ngClass]="{'disNone': !portService.germanActivated}">
                    Ich bringe eine bislang vierjährige Erfahrungen im Bereich der Webentwicklung mit.
                    Diese Erfahrungen belaufen sich auf das Erstellen von Websites im Frontend-Bereich.
                    Seit diesen vier Jahren programmiere ich in HTML, CSS und JavaScript.
                    <br>Angular, TypeScript, SCSS, konnte ich im Zuge meiner Teilnahme an der Developer Akademie
                    erlernen, weswegen ich nun auch dies beherrsche.
                    <br>Zudem konnte ich in der Developer Akademie die Fähigkeiten im Umgang mit GitHub/Git, Bootstrap,
                    Firebase/Firestore und die Grundlagen für das Verwenden von REST-APIs erwerben.
                </p>

                <div class="bottom-text">
                    <p class="big" [ngClass]="{'disNone': !portService.englishActivated}">
                        <span style="color: white;">You need</span> another Skill?
                    </p>
                    <p [ngClass]="{'disNone': !portService.englishActivated}">
                        Feel free to contact me. I look forward to expanding on my previous knowledge.
                    </p>
                    <p class="big" [ngClass]="{'disNone': !portService.germanActivated}">
                        <span style="color: white;">Sie brauchen</span> noch weitere Skills?
                    </p>
                    <p [ngClass]="{'disNone': !portService.germanActivated}">
                        Nehmen Sie gerne Kontakt mit mir auf. Ich freue mich darauf, meine bisherigen Kenntnisse zu
                        erweitern.
                    </p>
                </div>
                <app-button [englishText]="'Let´s Talk'" [germanText]="'Melden Sie sich'" [url]="'#work-together'"></app-button>
            </div>

        </div>

        <div class="icons">
            <img src="assets/images/html-icon.svg" alt="">
            <img src="assets/images/css-icon.svg" alt="">
            <img src="assets/images/java-script-icon.svg" alt="">
            <img src="assets/images/material-design-icon.svg" alt="">
            <img src="assets/images/type-script-icon.svg" alt="">
            <img src="assets/images/angular-icon.svg" alt="">
            <img src="assets/images/firebase-icon.svg" alt="">
            <img src="assets/images/git-icon.svg" alt="">
            <img src="assets/images/rest-api-icon.svg" alt="">
            <img src="assets/images/scrum-icon.svg" alt="">
            <img src="assets/images/growth-mindset-icon.svg" alt="">
        </div>
    </div>
</div>